.students-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    h2 {
        font-size: 1.5rem;
        margin: 0;
    }

    button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 2.5rem;
        font-size: 1rem;
    }

    @media (max-width: 768px) {
        // flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        h2 {
            font-size: 1.25rem;
        }

        button {
            // width: 100%;
            justify-content: center;
            font-size: 0.95rem;
        }
    }
    @media (max-width: 480px) {
        flex-direction: column;
        
        h2 {
            font-size: 1.1rem;
        }

        button {
            width: 100%;
            font-size: 0.9rem;
            padding: 0.4rem 0.8rem;
        }
    }
}

.filter {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

mat-form-field {
    width: 30%;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.students-table {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 12px;

    mat-form-field {
        width: 100%;
        margin-bottom: 1rem;
    }

    table {
        width: 100%;
        overflow-x: auto;
        font-size: 1rem;
        margin-top: 1rem;

        th {
            background: #f0f0f0;
            font-size: 1rem;
            text-align: left;
        }

        th,
        td {
            padding: 1rem;
        }

        .actions {
            padding: .75rem 0 !important;
        }
    }

    @media (max-width: 768px) {
        .filter {
            flex-direction: column;
            gap: 0.75rem;
        }

        mat-form-field {
            width: 100%;
        }

        table {
            font-size: 0.9rem;

            th,
            td {
                padding: 0.75rem;
            }
        }
    }
    @media (max-width: 480px) {
        table {
            font-size: 0.85rem;
        }

        td, th {
            padding: 0.5rem;
        }

        mat-form-field {
            font-size: 0.9rem;
        }
    }
}

.empty-state {
    text-align: center;
    margin-top: 2rem;

    img {
        width: 200px;
        margin-bottom: 1rem;
    }

    p {
        font-weight: 500;
        color: #666;
        font-size: 1.1rem;
    }

    @media (max-width: 768px) {
        img {
            width: 150px;
        }

        p {
            font-size: 0.95rem;
        }
    }
    @media (max-width: 480px) {
        img {
            width: 120px;
        }

        p {
            font-size: 0.95rem;
        }
    }
}
