.card {
    background: white;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .05);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    transition: all .4s ease;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 12px 24px rgba(0, 0, 0, .1);
    }

    .icon {
        font-size: 2.5rem;
        color: #00bcd4;
        background: rgba(0, 188, 212, .1);
        border-radius: 50%;
        padding: .6rem;
  
        &::ng-deep {
            width: 40px;
            height: 40px;
        }
    }
    .info h4 {
        margin: 0;
        font-size: 1rem;
        color: #333;
    }
    .info p {
        margin: 0;
        font-weight: bold;
        color: #111;
    }
}
