.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background-image: url('../../../../assets/images/black-bg.jpeg');
  padding: 1rem;
}

.forgot-password-card {
  width: 100%;
  color: #000;
  max-width: 400px;
  padding: 2rem;
  box-shadow: 0 8px 16px rgba(132, 127, 127, 0.3);
  border-radius: 12px;
  background-color: #ffffff9a;
  text-align: center;
}

mat-form-field.full-width {
  width: 100%;

  input {
    background: transparent;
  }

  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent;
  }
}

button {
  width: 100%;
  margin-top: 1rem;
}

.back-link {
  display: block;
  margin-top: 1rem;
  text-decoration: none;
  color: #1976d2;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

/* 🔥 Responsive Tweaks */
@media screen and (max-width: 480px) {
  .forgot-password-card {
    padding: 1.5rem 1rem;
    max-width: 70vw;
  }

  .forgot-password-container {
    padding: 1rem 0.5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .forgot-password-card {
    max-width: 70vw;
    padding: 2rem;
  }
}
