.overview {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: 0 0 1.5rem;
    overflow: auto;
}

.chart-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    // padding: 0 0 1rem;
    overflow: auto;
}
